<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://angulararchitects.io" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="./assets/paper-design/angular2-logo.png" />
      </div>
    </a>
    <a href="http://angulararchitects.io" class="simple-text logo-normal">
      Flights 42
    </a>
  </div>
  <ul class="nav">
    <li routerLinkActive="active">
      <a routerLink="/home">
        <i class="nc-icon nc-bank"></i>
        <p>Home</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/booking/flight">
        <i class="nc-icon nc-send"></i>
        <p>Flights</p>
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/booking/passenger">
        <i class="nc-icon nc-single-02"></i>
        <p>Passengers</p>
      </a>
    </li>

  </ul>

  <div class="form-group" style="padding-top: 30px">
    <div style="padding-left: 65px">
      <button class="btn btn-danger" style="width: 120px" (click)="setChangeDetection.Zone()">Zone</button>
    </div>

    <div style="padding-left: 65px">
      <button class="btn btn-success" style="width: 120px" (click)="setChangeDetection.Signals()">Signals</button>
    </div>
  </div>

</div>
